body{
    margin: 0 auto;
}

.logo-main{
  padding: 3% 0%;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  
}



.wrapper{
    background-color: white;
    margin: 10% 5%;
}

.green-block{
    text-align: center;
    background-image: url('../img/green-block.png'), linear-gradient(90deg, rgba(18,135,109,1) 0%, rgba(42,87,77,1) 100%) !important;
    background-repeat: no-repeat !important;
    /* background-size: auto !important; */
    background: rgb(18,135,109);
    padding:3% 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}




@font-face {
    font-family: sansation-bold;
    src: url('../fonts/sansation/sansation-bold.woff');
  }


  @font-face {
    font-family: nexa-light;
    src: url('../fonts/nexa/nexa-light.woff');
  }
  
  .green-block-header, .blue-block-header, .orange-block-header {
    padding: 2% 2% 2% 2%;
    font-family: sansation-bold;
    color:white;
  }

  .row{
      margin-left:1%;
      margin-right:1%;
  }


  .block-header{
    font-family: sansation-bold;
    color:white;
    padding-bottom: 2%;
  }

  .block-paragraph{
      font-family: nexa-light;
      color: white;
      font-size: 20px;
      text-align: left;
      padding:0 7% 7% 7%; 
  }


  .button-green, .button-blue, .button-orange{
    background: #f4f4f4;
    background-image: -webkit-linear-gradient(top, #f4f4f4, #ffffff);
    background-image: -moz-linear-gradient(top, #f4f4f4, #ffffff);
    background-image: -ms-linear-gradient(top, #f4f4f4, #ffffff);
    background-image: -o-linear-gradient(top, #f4f4f4, #ffffff);
    background-image: linear-gradient(to bottom, #f4f4f4, #ffffff);
    -webkit-border-radius: 37;
    -moz-border-radius: 37;
    border-radius: 37px;
    -webkit-box-shadow: 0px 1px 5px #666666;
    -moz-box-shadow: 0px 1px 5px #666666;
    box-shadow: 0px 1px 5px #666666;
    font-family: sansation-bold;
    color: #585858;
    font-size: 17px;
    padding: 1% 2%;
    border: solid #ffffff 3px;
    text-decoration: none;
  
  }

  .button-green:hover, .button-green:hover, .button-orange:hover{
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: #ffffff;
  }



  /*blue*/

  .blue-block{
  
    text-align: center;
    background-image: url('../img/blue-block.png'),  linear-gradient(90deg, rgba(12,120,220,1) 0%, rgba(50,184,201,1) 100%) !important;
    background-repeat: no-repeat !important;
    /* background-size: auto !important; */
    background: rgb(12,120,220);
    padding:3% 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.orange-block{
  
  text-align: center;
  background-image: url('../img/orange-block.png'),  linear-gradient(90deg, rgba(209,157,44,1) 0%, rgba(209,118,52,1) 100%) !important;
  background-repeat: no-repeat !important;
  /* background-size: auto !important; */
  background: rgb(209,157,44);
  padding:3% 1%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.block-paragraph-centered{
  font-family: nexa-light;
      color: white;
      font-size: 18px;
      text-align: center;
      padding:0 2% 7% 2%; 
}

.centered{
  margin: 0 auto;
  
}



.icon-container {
  margin :0 auto; 
  border: 17px solid #f4f4f4;
  border-radius: 50%;
  background-color: #f4f4f4; 
  /* width: 20%; */
  -webkit-box-shadow: 0px 1px 5px #666666;
  -moz-box-shadow: 0px 1px 5px #666666;
  box-shadow: 0px 1px 5px #666666;
  max-width: 20%;
  height: auto;
  
  
}




.footer-block{
  padding:1% 0%;
  background-color: #e8e8e8; 
  text-align: center;
}



.footer-link a{
  color:#505050;
  text-decoration: underline;
}
.adress{
  padding: 0.3% 0%;
}
